.contact-list-container {
    display: flex;
    flex-direction: row;
    gap: 0px 15px;
}

.contact-li {
    display: flex;
    align-content: center;
    justify-content: center;

    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.contact-li:first-child {
    padding-left: 0px;
}

.contact-li > span {
    font-size: 1.2rem;
}

