div.aboutMeInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div.aboutMeInfoContainer > h3 {
    font-size: 1.7em;
}

div.aboutMeInfoContainer > p {
    font-size: 1.1em;
    word-spacing: 1px;
}

div.aboutMeSubtitleContainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: top;
}