div.aboutMePfpContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;


    > img {
        display: block;
        width: 230px;
        margin: auto;
    }
}

@media screen and (max-width: 1400px) {
    
    div.aboutMePfpContainer > img {
        width: 100px;
    }
    
}

@media screen and (max-width: 700px) {
    
    div.aboutMePfpContainer > img {
        width: 80px;
    }
    
}