section.about-me-container {
    margin-bottom: 40px;

    display: grid;
    grid-template-columns: 20% 1fr;
    gap: 30px 5%;

    >:first-child {
        grid-column: 1/3;
    }

    >:nth-child(2) {
        padding-left: 30px;
    }

    >:nth-child(3) {
        padding-right: 30px;
    }
}