section.aboutMeTabletContainer {
    display: flex;
    flex-direction: column;
}

div.aboutMeTitlesTablet {
    display: grid;
    grid-template-columns: 30% 1fr;

    margin: 30px 0px;

    > div > h3 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 700px) {
    
    div.aboutMeTitlesTablet { 
        gap: 15px;

        > div > h3 {
            font-size: 1.2rem;
        }
    }
    
}