@import '../../styles/shared/animations/slideUpHover.css';

div.contact-list-container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
}

ul.contact-list-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 25px;

}

li.contact-li {
    display: flex;
    align-content: end;
    justify-content: center;

    gap: 15px;
    cursor: pointer;
    animation: selectedSlideDown 0.3s ease forwards;

    &:hover {
        animation: selectedSlideUp 0.3s ease forwards alternate !important; 
    }
}

li.contact-li > span {
    height: fit-content;
    margin: auto 0;
    font-size: 1.2rem;
}

li.contact-li:hover svg,
li.contact-li:hover > span {
    animation: colorSelectedSlideUp 0.3s ease forwards;
}

div.cv-button-container {
    margin-left: auto;
}


a.cv-button {
    width: fit-content;

    border: solid 1px whitesmoke;
    border-radius: 8px;
    background-color: transparent;
    padding: 14px 25px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    transition: 0.3s;

    &:hover {
        animation: colorSelectedSlideUp 0.3s ease forwards;
    }
}



@media screen and (max-width: 1400px) {

    a.cv-button {
        padding: 8px 18px;
        margin-left: auto;
    }

    li.contact-li:hover svg,
    li.contact-li:hover > span {
        animation: none;
    }

    .contact-li > span {
        padding-left: 0px;
    }
    
}

@media screen and (max-width: 700px) {

    ul.contact-list-socials {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }

    li.contact-li {
        justify-content: start;
        align-content: start;
    }

    a.cv-button {
        padding: 8px 18px;
        margin-top: 10px;
    }

    div.contact-list-container {
        flex-direction: column;
        align-content: flex-start;
    }

    div.cv-button-container {
        margin-left: 0px;
        margin-right: auto;
        margin-top: 5px;
    }

}