@import '../../styles/shared/globalVariables/portfolioColors.css';
@import '../../styles/projectSection/projectColors.css';

.project-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px 0px;
}

ul.project-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    padding: 0px 30px;
}

.project-card {
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 8px;
    background-color: var(--background-project-card-color);
    overflow: hidden;
    gap: 0px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.project-card img {
  width: 100%;
  border-radius: 8px 8px 0px 0px; 
  display: block;
}

.project-card h3 {
    font-size: 1.3rem;
}

.project-card-div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 0px;
    padding: 10px 20px 20px;
}

.project-card-div > p {
    white-space: pre-line;
}

.project-card:hover {
    --background-project-card-color:#57536e;
    background-color: var(--background-project-card-color);
    transform: scale(1.04);
}

.project-stack-section {
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    gap: 15px 0px;
}

.project-stack-tag-list,.project-repo-container  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.project-stack-tag {
    background-color: transparent;
    border: solid 1px var(--default-color);
    border-radius: 30px;
    padding: 10px;
    font-size: 0.9rem;
}


.project-deployment-note > p {
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.project-repo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 15px;
    padding: 10px;

    background-color: transparent;
    border: solid 1px white;
    border-radius: 30px;
    
    height: fit-content;
    border-color: var(--highlight-blue);
    -webkit-box-shadow: 0px 0px 7px 1px rgba(52,174,235,0.25); 
    box-shadow: 0px 0px 7px 1px rgba(52,174,235,0.25);
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    
    ul.project-list {
        grid-template-columns: 1fr;
        padding: 0px 20px;
    }

    .project-stack-section {
        display: grid;
        grid-template-columns: 1fr;
        align-content: start; /* asegura que no colapsen filas */
        gap: 15px 0px; 
    }


    .project-repo-container {
        margin-left: 0px;
    }
    
}

@media screen and (max-width: 700px) {
    
    ul.project-list {
        grid-template-columns: 1fr;
        padding: 0px;
    }

    .project-repo-container {
        gap: 10px;
    }

    .project-repo {
        width: 100%;
    }
}