.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0px;
    margin: 15px 0px;
}

.skill-container > :first-child {
    grid-column:  1/4;
}

.skill-section-title {
    text-align: center;
    font-size: 1.4rem;

    margin: 0 0% 15px;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
}

.skill-div {
    padding: 5px 20px 20px;
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;

    gap: 15px 0px;
    padding: 0px 10px;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    gap: 10px;
}

.skill-card > span {
    font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
    

    .skill-container > :first-child {
        margin-bottom: 10px;
    }

    .skill-list {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 700px) {
    
    .skill-container {
        grid-template-columns: 1fr;
    }
    
    .skill-container > :first-child {
        grid-column:  1/2;
    }
}