@import './skillAnimations.css';

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 0px;
    margin-bottom: 50px;
    margin-top: 20px;
}
/* Es el nodo del titulo habilidades */
.skill-container > :first-child {
    grid-column:  1/4;
}

.skill-section-title {
    text-align: center;
    font-size: 1.4rem;

    margin-bottom: 15px;
    border-bottom: solid 1px white;
    padding-bottom: 10px;
}

div.skill-div {
    padding: 20px 30px;
    animation: slideUp 1s ease-in forwards;
    animation-delay: 0s;
    opacity: 0;
}

div.skill-div:nth-of-type(2) {
  animation-delay: 0.2s;
}

div.skill-div:nth-of-type(3) {
  animation-delay: 0.4s;
}

.skill-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;

    gap: 15px 0px;
    padding: 0px 10px;
}

.skill-card {
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    gap: 10px;
}

.skill-card > span {
    font-size: 1.2rem;
}

@media screen and (max-width: 1400px) {
    
    div.skill-div {
        padding: 20px;
    }

    .skill-container > :first-child {
        margin-bottom: 10px;
    }

    .skill-list {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 700px) {

    div.skill-div {
        padding: 0px 20px;
        animation: none;
        opacity: 1;
        margin-bottom: 15px;
    }
    
    .skill-container {
        grid-template-columns: 1fr;
    }
    
    .skill-container > :first-child {
        grid-column:  1/2;
        margin-bottom: 20px;
    }
}