.contact-list-container {
    display: flex;
    flex-direction: row;
    gap: 0px 15px;
}

.contact-li {
    display: flex;
    align-content: center;
    justify-content: center;

    gap: 10px;
    padding: 10px;
    cursor: pointer;
}

.contact-li > span {
    height: fit-content;
    margin: auto 0;
}

.contact-li:first-child {
    padding-left: 0px;
}

.contact-li:last-child {
    margin-left: auto;
}

.contact-li > span {
    font-size: 1.2rem;
}

@media screen and (max-width: 700px) {
    
    .contact-list-container {
        margin-top: 15px;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0px;

        justify-items: start;
        align-items: start;
    }

    .contact-li,  .contact-li:first-child {
        padding-left: 2px;
    }
}