ul.contact-list-socials {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 15px;
    margin-bottom: 15px;
}

li.contact-li {
    display: flex;
    align-content: end;
    justify-content: center;

    gap: 10px;
    padding: 10px;
    padding-left: 0px;
    padding-bottom: 0px;
    cursor: pointer;
}

li.contact-li > span {
    height: fit-content;
    margin: auto 0;
    font-size: 1.2rem;
}


a.cv-button {
    width: fit-content;

    border: solid 1px whitesmoke;
    border-radius: 8px;
    background-color: transparent;
    padding: 14px 25px;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

@media screen and (max-width: 1400px) {

    a.cv-button {
        padding: 8px 18px;
    }

    .contact-li > span {
        padding-left: 0px;
    }

    
}

@media screen and (max-width: 700px) {

    a.cv-button {
        padding: 8px 18px;
        margin-top: 20px;
        margin-left: auto;
    }

    .contact-li,  .contact-li:first-child {
        padding-left: 2px;
    }
}