@keyframes fadeUp {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


@keyframes wideUp {
from {
    transform: scaleX(0);
    transform-origin: center;
}

  to {
    transform: scaleX(1);
  }
}
