header.heading-container {
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
    margin: 80px 0px;
}

@media screen and (max-width: 700px) {
    
    header.heading-container { 
        padding: 0px 10px;
        margin: 80px 0px 40px;
    }
    
}
