.heading-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 25%;
}

.heading-container > *:nth-child(2) {
  grid-column: 2; 
  grid-row: span 3; 
  align-self: start; 
}

.heading-container > *:last-child {
  grid-column: 1 / -1; 
}

@media screen and (max-width: 1400px) {
    
    .heading-container {
        grid-template-columns: 1fr 25%;
    }

    .heading-container > *:nth-child(4) {
        grid-column: auto;
    }
    
}

@media screen and (max-width: 700px) {
    
    .heading-container {
        grid-template-columns: 1fr;
    }

    .heading-container > *:nth-child(4) {
        grid-column: initial;
    }

    .heading-container > *:nth-child(2) {
        grid-row: initial;
        grid-column: initial;
    }
}