.node-section {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}

.node-container {
    display: flex;
    width: 120px;
    height: 120px;
    margin: auto auto;
    background-color: white;

    border-radius: 90px;
}

.node-container > svg {
    margin: 0px auto;
    object-fit: contain;
    overflow: hidden;
    border-radius: 30px;

    width: 120px;
    height: 120px;
}

@media screen and (max-width: 1400px) {
    
    .node-container {
        height: 100px;
        width: 100px;
        margin-left: auto;
        margin-right: 0px;
    }

    .node-container > svg {
        height: 100px;
        width: 100px;
    }

}

@media screen and (max-width: 700px) {
    
    .node-container {
        display: none;
    }
    
}