@import './headingAnimations.css';


h1.heading-title {
    text-align: center;
    font-size: 4.8rem;
    animation: pullUpTitle 1.7s ease-out forwards;
    margin-bottom: 5px;
}

h2.heading-subtitle {
    text-align: center;
    font-size: 2rem;
    animation: pullDownTitle 1.7s ease-out forwards;
    margin-top: 10px;
}

div.title-bar-div {
    width: 84%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #292940;
    z-index: 0;
    
}

div.title-bar-div > hr.title-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -25px;
    animation: wideUp 1.7s ease-out forwards;
    z-index: 20;
    overflow: hidden;
    transform-origin: center;
}

div.title-bar-div > svg {
    z-index: 20;
    margin: 0 auto;
}



@media screen and (max-width: 1400px) {
    
    h1.heading-title {
        font-size: 3rem;
    }

    h2.heading-subtitle {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    div.title-bar-div {
        width: 90%;
    }

}

@media screen and (max-width: 700px) {
    
    h1.heading-title {
        font-size: 2.5rem;
    }

    h2.heading-subtitle {
        font-size: 1.6rem;
    }

    div.title-bar-div {
        width: 100%;
    }
    
}