@import './headingAnimations.css';

h1.heading-title {
    margin-top: 8vh;
    text-align: center;
    font-size: 4.8rem;
    margin-bottom: 10px;
    animation: fadeUp 1.7s ease-out forwards;
}

h2.heading-subtitle {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 80px;
    animation: fadeUp 1.7s ease-out forwards;
}

div.title-bar-div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 10px;
}

.title-bar {
    width: 100%;
    margin-top: 20px;
    margin-bottom: -25px;
    animation: wideUp 1.7s ease-out forwards;
}



@media screen and (max-width: 1400px) {
    
    h1.heading-title {
        font-size: 3rem;
    }

    h2.heading-subtitle {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }

    div.title-bar-div {
        width: 90%;
    }

}

@media screen and (max-width: 700px) {
    
    h1.heading-title {
        font-size: 2.5rem;
        margin-top: 40px;
    }

    h2.heading-subtitle {
        font-size: 1.6rem;
    }

    div.title-bar-div {
        width: 100%;
    }
    
}