.title-container {
    display: flex;
    flex-direction: column;  
    justify-content: start; 
    align-items: start;
}

.title {
    font-size: 4rem;

    --animation-duration: 15s;
}

.title-bar-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    margin: 15px 0px;
}

.title-bar {
    width: 100%;
    margin-top: 30px;
    margin-bottom: -30px;
}

.description {
    margin: 15px 0px;
    font-size: 1.2rem;
}

.description a {
    font-size: 1.1rem;
}

.subtitle-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5px;
    margin-bottom: 10px;
}

.subtitle-container > span {
    font-size: 1.5rem;
}


@media screen and (max-width: 1400px) {
    
    .title {
        font-size: 2.3rem;
    }

}

@media screen and (max-width: 700px) {
    
    .description {
        margin: 10px 0px;
    }
    
}