@import './styles/shared/hideScrollbar.css';
@import './styles/shared/globalVariables/portfolioColors.css';
@import './styles/shared/globalVariables/portfolioFonts.css';
@import './styles/shared/generalRules.css';


* {
    font-family: var(--default-font);
    font-size: var(--default-font-size);
    font-weight: normal;
    font-style: normal;
    color: var(--default-color);
    outline: none;
}

#root {
  background-color: var(--default-background-color);
  padding: 0px;
}

#root > *{
  margin-left: 13vw;
  margin-right: 13vw;
}

#root > main {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

@media screen and (max-width: 1400px) {
  #root > *{
      margin-left: 7vw;
      margin-right: 7vw;
  }
}

@media screen and (max-width: 700px) {
  #root > *{
      margin-left: 10vw;
      margin-right: 10vw;
  }
}